<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  
  <%
=begin  	if name == :noticeN
  			name = :notice
	  	elsif name == :notice
  	 		name = :success
	  	else
	  		name = :error
	  	end
=end
  	%>

    <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<!--- or use this from devise
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<% end %>

-->